body {
  background-color: #3AE2CE;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainConteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 10px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  background-color: #3AE2CE;
  border: solid #00B5A0 1px;
}

.myInputsContainers {
  display: flex;
  flex-direction: row;
}

.myInputs {
  font-size: 25px;
  width:50px;
  border: none;
}

#count {
  text-align: center;
  margin: 0 0 0 350px;
}
